.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.container-content {
  width: 90%;
}

h1 {
  font-size: 30px;
  line-height: 45px;
  color: #6703e9;
}

div#homeDiv {

  height: 80vh;
}

#planosDiv {
  display: none;
  height: 75vh;
  display: none;
  background-color: #fff;
}

#checkoutDiv {
  display: none;
  height: 75vh;
  display: none;
  background-color: #fff;
}

#pixDiv {
  height: 75vh;
  display: none;
  background-color: #fff;
}

#loginDiv {
  height: 75vh;
  background-color: #fff;
  display: none;
}

#clienteDiv {
  height: 90vh;
  background-color: #fff;
  display: none;
}

#profile-nav{
  display: none;
  justify-content: space-between;
  align-items: center;
}

#profile-nav section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-nav img{
  width: 32px;
  border-radius: 20px;
  margin-right: 10px;
}

#profile-nav button{
  width: 70px;
  border: 1px solid #6703e9;
  background: #fff;
  border-radius: 21px;
  color: #6703e9;
  font-weight: 500;
}

.plan-container {
  padding-bottom: 40px;
}

.checkout-container {
  padding-bottom: 40px;
}

.aviso {
  padding: 10px;
  text-align: center;
  color: #383838;
  font-weight: bold;
  margin: 12px;
  font-size: 16px;
}

.first-aviso {
  text-align: left;
  padding-left: 0px;
  margin-left: 0px;
}

#aviso-big {
  color: #383838;
  padding: 10px;
  margin-top: 22px;
}

#aviso-big-purple {
  color: #6703e9;
  padding: 10px;
  margin-bottom: 14px;
  margin-top: 30px;
}

.purple-subtitle {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #6703e9;
}

#clienteDiv>ul {
  list-style: none;
  padding-left: 0px;
}

.client-tag {
  padding: 5px;
  background-color: #0c0c0c;
  margin: 3px;
  margin-left: 0;
  border-radius: 6px;
  color: #fff;
  font-size: 10pt;
}

.crono-investidor {
  background-color: #25d366 !important;
  width: 130px;
}

.info {
  background-color: #0c0c0c !important;
  width: 200px;
}

.rendimentos {
  padding: 10px;
  border: 1px dashed #cacaca;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 4px 3px 3px #eee;
  margin-bottom: 25px;
}

.rendimentos h1 {
  font-size: 30px;
  color: #0c0c0c;
  padding-top: 10px;
  padding-bottom: 20px;
}

.actual-plan {
  padding: 20px 10px;
  margin: 10px 5px;
  box-shadow: 1px 1px 4px #871ff6;
  border-radius: 3px;
  margin-bottom: 25px;
  text-align: center;
}


input {
  padding: 16px;
  margin-bottom: 10px;
  width: 88%;
  border: 1px solid #eee;
  box-shadow: 1px 2px 4px #383838;
  border-radius: 4px;
  font-size: 16px;
}

#pixDiv section {
  padding: 16px;
  margin-bottom: 20px;
  margin-top: 45px;
  width: 88%;
  border: 1px solid #eee;
  box-shadow: 1px 2px 4px #383838;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}


#qrcode {
  text-align: center;
  width: auto;
}

#qrcode-field {
  display: flex;
  justify-content: center;
}

form {
  padding-bottom: 40px;
}

p.bread {
  padding: 10px;
  padding-left: 1px;
  margin-bottom: 20px;
}


#special {
  width: 16px;
  margin-left: 5px;
}


.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

b#clientNome {
  font-size: 15px;
}