div#faq {
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 2px 5px 14px #1d1d1d;
    width: 85%;
}

.faq-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
   
    background: #000000b3;
    height: 100vh;
    width: 100%;
}

.accordion {
    padding: 8px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    border-radius: 6px;
    position: relative;
}

.accordion p {
    margin-top: 10px;
}

#acc-info-0{
    display: none;
}
#acc-info-1{
    display: none;
}
#acc-info-2{
    display: none;
}

.accordion img {
    width: 14px;
    margin-right: 10px;
    position: absolute;
    right: 0;
}