@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('buttons.css');
@import url('container.css');
@import url('navbar.css');
@import url('social-badge.css');
@import url('desk.css');
@import url('badges.css');
@import url('faq.css');


* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
